@charset "utf-8";
*:hover {
}
body {
  font-family: "Inria Sans", sans-serif;
}
header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  display: none;
  z-index: 10;
  background-color: #262626;
  padding: 10px 10px 20px 10px;
  font-family: "Inria Serif", serif;
}
header ul {
  color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 100px;
}
header ul li:nth-child(odd):hover {
  background-color: rgba(228, 228, 228, 0.5);
}
#visual {
  width: 100%;
  margin: 0 auto;
  position: relative;
  font-family: "Inria Serif", serif;
}
#visual .phone {
  width: 380px;
  margin: 100px auto;
  display: flex;
  align-items: center;
  position: relative;
}
#visual .phone p {
  font-size: 15px;
  padding-top: 15px;
  background-color: #000000;
  color: #fff;
  border-radius: 100px;
  position: absolute;
  bottom: 20px;
  right: 43%;
  width: 50px;
  height: 35px;
  text-align: center;
  display: none;
  cursor: pointer;
}
#visual .phone:hover {
}
#visual .phone .phone_bg {
  width: 370px;
  height:100%;
  margin: 0 auto;
  position:absolute;
  left:0;
  right:0;
  border-radius: 100px;
  opacity: 0;
  background-color: #262626;
  transform: rotate(0) scale(1);
}
#visual .phone > img {
  position:relative;
  transform: rotate(0) scale(1);
}
#visual .phone .img_tr {
  transform: rotate(90deg) scale(4);
  transition-duration: 5s;
}
#visual .phone .text_box {
  width: 240.5px;
  text-align: center;
  font-size: 25px;
  position: absolute;
  top: 45%;
  right: 20%;
  opacity: 0;
}
#visual .phone .blink {
  animation: blink 0.7s infinite;
  font-size: 2.5rem;
}

@keyframes blink {
  to {
    opacity: 0;
  }
}
#visual .scroll {
  position: fixed;
  top: 48%;
  right: 20px;
  display: none;
  z-index: 100;
}
#visual .scroll_line {
  width: 3px;
  height: 100px;
  background-color: #bebebe;
  border-radius: 100px;
  animation-play-state: paused;
}
#visual .current_line {
  width: 3px;
  height: 15px;
  background-color: #4e4e4e;
  border-radius: 15px;
  position: relative;
  top: 0;
  animation-name: dot;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: 0.5s;
  animation-iteration-count: infinite;
}
@keyframes dot {
  0%{
    opacity: 0;
  }
  20%{
    opacity: 1;
    top: 0;
  }
  80%{
    opacity: 1;
    top: 80px;
  }
  100% {
    opacity: 0;
    top: 80px;
  }
}
#visual .scroll_txt {
  position: absolute;
  right: -17px;
  bottom: -30px;
  font-size: 11px;
  color: #ffffff;
  background-color: #262626;
  border-radius: 20px;
  padding: 5px;
}
.fullpage {
  display: none;
}
.page_1 {
  height: 100vh;
  background-color: #262626;
  text-align: center;
  justify-content: center;
  display: flex;
  border-bottom: 1px solid #4e4e4e;
  flex-direction: column;
  align-items: center;
  font-family: "Inria Serif", serif;
}
.page_1 h1 {
  font-size: 50px;
  font-weight: 700;
  color: #ffffff;
}
.page_1 .name_line {
  width: 50%;
  height: 5px;
  margin: 20px 0;
  background-color: #b4b4b4;
  border-radius: 100px;
}
.page_1 p {
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
}
.page_2 {
  width: 100%;
  height: 100vh;
  text-align: left;
  background-color: #262626;
  overflow: hidden;
}
.page_2 h2 {
  font-size: 45px;
  font-weight: 700;
  padding-top: 150px;
  margin-bottom: 20px;
  text-align: center;
  color: #fff;
  font-family: "Inria Serif", serif;
}
.page_2 p {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  margin-top: 20px;
  color: #ffffff;
  line-height: 1.3;
}
.page_2 .name_line {
  width: 25%;
  margin: 0 auto;
  height: 5px;
  background-color: #4e4e4e;
  border-radius: 100px;
}
.page_2 .page_2_txt {
  width: 55%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-top: 80px;
  font-size: 15px;
  color: #ffffff;
}
.page_2 .page_2_txt h3 {
  font-size: 25px;
  font-weight: 600;
  margin: 20px 0;
  font-family: "Inria Serif", serif;
}
.page_2 .page_2_txt span {
  display: block;
  font-size: 11px;
  margin: 10px 0;
}
.page_2 .page_2_txt p {
  font-size: 13px;
  text-align: left;
  line-height: 1.5;
}
.page_2 .page_2_txt b {
  line-height: 1.5;
  font-size: 13px;
}
.page_2 .top_txt_line {
  width: 100%;
  height: 3px;
  background-color: #4e4e4e;
  border-radius: 100px;
  margin-top: 20px;
}
.page_2 .middle_txt p {
  font-size: 13px;
}
.page_2 .middle_txt_line {
  width: 100%;
  height: 3px;
  background-color: #4e4e4e;
  border-radius: 100px;
  margin-top: 20px;
} 
.page_2 .bottom_txt ul {
  display: flex;
  gap: 10px;
  position: relative;
}
.page_2 .bottom_txt ul > li {
  background-color: #6b6b6b;
  color: #ffffff;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 13px;
}
.page_2 .bottom_txt ul > li > div {
  background-color: #262626;
  width: 40px;
  border-radius: 15px;
  height: 40px;
  margin-top: 15px;
  padding: 10px 0 0 0;
}
.page_2 .page_2_txt .right_txt img {
  width: 300px;
  border-radius: 20px;
}
.page_2 .page_2_txt .right_txt {
  font-family: "Inria Serif", serif;
}
.page_2 .page_2_txt .right_txt span {
  font-size: 20px;
}
.page_2 .page_2_txt .right_txt p {
  margin: 10px 0;
  font-size: 20px;
}
.page_3 {
  background-color: #262626;
  color: #ffffff;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #4e4e4e;
}
.page_3 h4 {
  font-family: "Inria Serif", serif;
  margin: 50px 100px;
  font-size: 30px;
}
.page_3 span {
  margin: 0 100px 0 200px;
}
.page_3 .p3_right p {
  font-size: 150px;
  color: #2c2c2c;
  font-family: "Inria Serif", serif;
  margin-right: 100px;
}
.page_4 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 120px;
  position: relative;
}
.page_4 h4 {
  font-size: 50px;
  position: absolute;
  top: 20px;
  left: 20px;
  color: #868686;
}
.page_4 h5 {
  z-index: 10;
}
.page_4 .p4_over {
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.page_4 .p4_over1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 100px;
}
.page_4 .p4_over b {
  font-size: 25px;
  font-family: "Inria Serif", serif;
}
.page_4 .p4_over p {
  width: 400px;
  word-break: keep-all;
  font-size: 13px;
  margin-top: 30px;
  line-height: 1.2;
}
.page_4 .p4_over2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 70px;
}
.page_4 .p4_over2 .p4_top {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.page_4 .p4_over2 .p4_over2_color {
  display: flex;
  flex-direction: row;
  width: 430px;
  margin-top: 30px;
}
.page_4 .p4_over2 .p4_over2_color div {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: #4e4e4e;
}
.page_4 .p4_over2 .p4_bottom b {
  font-size: 13px;
}
.page_4 .p4_over2 .p4_over2_color div:nth-child(1)  {
  background-color: #FFF9ED;
  border: 1px solid #4e4e4e;
}
.page_4 .p4_over2 .p4_over2_color div:nth-child(2) {
  background-color: #FFF6E4;
  border: 1px solid #4e4e4e;
}
.page_4 .p4_over2 .p4_over2_color div:nth-child(3) {
  background-color: #D9D9D9;
  border: 1px solid #4e4e4e;
}
.page_4 .p4_over2 .p4_over2_color div:nth-child(4) {
  background-color: #000000;
  border: 1px solid #4e4e4e;
}
.page_5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  align-items: center;
  position: relative; 
  background-color: #f5f5f5;
}
.page_5 .p5_line {
  width: 100%;
  height: 1px;
  background-color: #000000;
  margin: 100px 0;
}
.page_5 .p5_over {
  display: flex;
  flex-direction: column;
}
.page_5 h5 img {
  width: 200px;
}
.page_5 .p5_over {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.page_5 .p5_over b {
  font-size: 25px;
  font-family: "Inria Serif", serif;
}
.page_5 .p5_over p {
  width: 500px;
  word-break: keep-all;
  font-size: 13px;
  padding: 10px 0;
  line-height: 1.2;
}
.page_5 .p5_over2 .p5_over2_color {
  display: flex;
  flex-direction: row;
  gap: 3px;
  padding: 10px 0;
  margin-bottom: 50px;
}
.page_5 .p5_over2 .p5_over2_color div {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: #4e4e4e;
}
.page_5 .p5_over2 .p5_over2_color div:nth-child(1)  {
  background-color: #ffffff;
  border: 1px solid #4e4e4e;
}
.page_5 .p5_over2 .p5_over2_color div:nth-child(2) {
  background-color: #E16844;
  border: 1px solid #4e4e4e;
}
.page_5 .p5_over2 .p5_over2_color div:nth-child(3) {
  background-color: #3a3a3a;
  border: 1px solid #4e4e4e;
}
.page_5 .p5_over2 .p5_over2_color div:nth-child(4) {
  background-color: #000000;
  border: 1px solid #4e4e4e;
}
.page_5 .p5_web {
  margin-top: 50px;
  font-size: 17px;
}

.page_6 {
  background-color: #000000;
  height: 100vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.page_6 .p6_over {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.page_6 .p6_over1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}
.page_6 .p6_over b {
  font-size: 25px;
  font-family: "Inria Serif", serif;
}
.page_6 .p6_over p {
  width: 400px;
  word-break: keep-all;
  font-size: 13px;
  margin-top: 30px;
  line-height: 1.2;
}
.page_6 .p6_over2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.page_6 .p6_over2 .p6_top {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.page_6 .p6_over2 .p6_over2_color {
  display: flex;
  flex-direction: row;
  width: 430px;
  margin-top: 30px;
}
.page_6 .p6_over2 .p6_over2_color div {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: #4e4e4e;
}
.page_6.p6_bottom b {
  font-size: 13px;
}
.page_6 .p6_over2 .p6_over2_color div:nth-child(1)  {
  background-color: #ffffff;
  border: 1px solid #4e4e4e;
}
.page_6 .p6_over2 .p6_over2_color div:nth-child(2) {
  background-color: #EC3D36;
  border: 1px solid #4e4e4e;
}
.page_6 .p6_over2 .p6_over2_color div:nth-child(3) {
  background-color: #3a3a3a;
  border: 1px solid #4e4e4e;
}
.page_6 .p6_over2 .p6_over2_color div:nth-child(4) {
  background-color: #000000;
  border: 1px solid #4e4e4e;
}

.page_7 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.page_7 .p7_over {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.page_7 .p7_over1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}
.page_7 .p7_over b {
  font-size: 25px;
  font-family: "Inria Serif", serif;
}
.page_7 .p7_over p {
  width: 400px;
  word-break: keep-all;
  font-size: 13px;
  margin-top: 30px;
  line-height: 1.2;
}
.page_7 .p7_over2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.page_7 .p7_over2 .p7_top {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.page_7 .p7_over2 .p7_over2_color {
  display: flex;
  flex-direction: row;
  width: 430px;
  margin-top: 30px;
}
.page_7 .p7_over2 .p7_over2_color div {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: #4e4e4e;
}
.page_7 .p7_over2 .p7_over2_color div:nth-child(1)  {
  background-color: #ffffff;
  border: 1px solid #4e4e4e;
}
.page_7 .p7_over2 .p7_over2_color div:nth-child(2) {
  background-color: #E8B0D0;
  border: 1px solid #4e4e4e;
}
.page_7 .p7_over2 .p7_over2_color div:nth-child(3) {
  background-color: #0C1033;
  border: 1px solid #4e4e4e;
}
.page_7 .p7_over2 .p7_over2_color div:nth-child(4) {
  background-color: #000000;
  border: 1px solid #4e4e4e;
}
.page_7 .p7_bottom b {
  font-size: 13px;
}
.page_8 {
  height: 100vh;
  background-color: #262626;
  color: #fff;
}
.page_8 h5 {
  font-size: 100px;
  color: #585858;
  font-family: "Inria Serif", serif;
  text-align: center;
  padding: 20px 0 0 0;
}
.page_8 b {
  font-size: 100px;
  color: #2c2c2c;
  font-family: "Inria Serif", serif;
}
.page_8 .p8 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 17%;
}
.page_8 .p8 p {
  font-size: 30px;
  font-family: "Inria Serif", serif;
  color: #bebebe;
}
.page_8 .p8 a {
  color: #dadada;
}
.page_8 .p8 .todo {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.page_8 .p8 .cld {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

